RewriteEngine on
RewriteBase /cmujs/
RewriteCond $1 !^(index\.php|public|assets|images|js|css|uploads|favicon.png)
RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^(.*)$ ./index.php/$! [L]
