@import url('./variables.css');

*{
	font-family: 'Satoshi', sans-serif;
}

body{
	background-color: var(--bg);
}

/* global */
.btn-round-filled, .btn-filled{
	padding: 5px 10px;
	background-color: var(--green8);
	color: var(--gs100);

}


.btn-round-outlined{
	border: 3px solid var(--green8);
	color: var(--green8);
}

.btn-round-filled, .btn-round-outlined, .btn-filled, .read-more-btn{
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-round-filled, .btn-round-outlined{
	border-radius: 25px;
}

.btn-filled{
	border-radius: 15px;
}


/* Landing Page */

.landing-navbar{
	height: 80px;
	display: flex;
	align-items: center;
	padding: 16px;
	backdrop-filter: blur(20px) !important;
}

.landin-main{
	margin-top: 90px;
}

.nav-column{
	width: 33.33%;
}

.text-logo{
	font-size: 25px;
	font-weight: 900;
	color: var(--green9);
}

.landing-nav-item{
	color: var(--gs20);
}

.active-landing-nav-item{
	color: var(--green10);
	text-decoration: underline;
}

.landing-main{
	padding-top: 80px;
	margin: 0 36px;
}

.hero-title{
	font-size: 48px;
	line-height: 46px;
}

.hero-subtitle{
	color: #292727;
	font-size: 20px;
	font-weight: 300;
	line-height: 22.5px;

}

.center{
	height: 100%;
	width: 100%;
	display: grid;
	place-items: center;
}

.register-sheet, .login-sheet {
	border-radius: 20px;
	background-color: var(--gs100);
}

.login-sheet{
	width: 500px;
}

.register-sheet {
	width: 633px;
}

@media screen and (max-width: 768px) {
	.register-sheet, .login-sheet {
	  width: 90%;
	  max-width: 400px; 
	}
  }

input, select {
	padding-left: 15px !important;
	padding-right: 15px !important;
	border: solid 2px #e6e6e6;
	border-radius: 10px;
	transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus, select:focus, select:active,
input:active {
	outline: 1px solid var(--green6);
	border: 1px solid var(--green6);
	border-color: #a0a0a0 !important; 
	box-shadow: 0 0 5px var(--green8) !important; 
}

input::placeholder{
	color: var(--gs20) !important;
}



/* sidebar */
.sidebar{
	margin: 16px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 300px;
	box-shadow: 0 2px 7px 0 var(--border);
	height: 95vh;
	background-color: var(--gs100);
	border-radius: 15px;
}

hr{
	border-color: var(--border);
}

.nav-item{
	border: 1px solid var(--green1);
	border-radius: 15px;
	height: 50px;
	display: flex;
	align-items: center;
	padding-left: 15px;
}

.nav-item-active{
	background-color: var(--green8);
}

.nav-text{
	color: var(--green10);
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 400;
}

.nav-text-active, .nav-icon-active{
	color: var(--bg) !important;
}

.nav-icon{
	color: var(--gs40);
}

.topbar{
	z-index: 5;
	border-radius: 15px;
	width: calc(100vw - 365px);
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--gs100);
	margin: 16px;
	right: 0;
	position: fixed;
	box-shadow: 0 2px 7px 0 var(--border);
}

.avatar{
	height: 45px;
	width: 45px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}

.main-content-container{
	background-color: var(--gs100);
	width: calc(100vw - 365px);
	min-height: 610px;
	right: 0;
	position: absolute;
	box-shadow: 0 2px 7px 0 var(--border);
	border-radius: 15px;
	margin: 95px 16px 16px 16px;
}


.articles-card{
	border-radius: 15px;
	background-color: white;
	width: 100%;
	padding: 16px;
}

.read-more-btn{
	background-color: var(--green5);
	color: var(--gs100);
	border-radius: 25px;
}

.admin-table{
	border-radius: 15px;
	border: 2px solid #E4E4E4;
}

.row-border{
	border-bottom: 1px solid #E4E4E4;
}

.blur{
	background: transparent;
	position: fixed;
	width: 100vw;
	top: 0;
	left: 0;
	height: 16px;
	z-index: 40;
	backdrop-filter: blur(100px);
}

.error{
	margin-top: 5px;
	margin-left: 5px;
	color: rgb(212, 99, 99) !important;
	font-size: 13px;
}
